<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events Calendar</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>
  <div id="app">
    <div class="top">
      <h1 class="h1"> {{months[selected.month]}} {{ selected.year}}</h1>
      <a type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal1">
        add
      </a>
      <select v-model="selected.month">
        <option v-for="(month,index) in months" :key="index" :value="index">
          {{month}}

        </option>
      </select>
      <select v-model="selected.year">
        <option v-for="(year,index) in years" :key="index" :value="year">
          {{year}}
        </option>
      </select>

    </div>

    <div class="calendar">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
      <div v-for="n in startDay"> </div>
      <day v-for="day in daysInMonth" :day="day" :month="selected.month" :year="selected.year">

      </day>

      <div class="modal fade" id="myModal1" role="dialog" :class="{show: modal}">
        <div class=" modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <form @submit.prevent="add">
                <div class="form-group">

                  <input type="text" class=" form-control" v-model="added">
                  <input type="datetime" class=" form-control" v-model="update">
                </div>
                <button type="submit" class="btn btn-primary">add </button>
              </form>
            </div>

          </div>
        </div>
      </div>


      <div class="modal fade" id="myModal" role="dialog" :class="{show: modal}">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">

              <form method="GET" @submit.prevent="update">

                <div class="form-group">

                  <input type="text" class=" form-control" v-model="events.text">
                  <input type="text" class=" form-control" v-model="events.time">
                  <input type="text" class=" form-control" v-model="events.details">

                </div>




                <button type="submit" class="btn btn-primary">Update </button>

              </form>
              <button type="submit" @click="deleteItem" class="btn btn-danger">Delete</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



    </div>




  </div>




  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('day', {

      props: ['day', 'month', 'year'],


      computed: {

        events: function () {
          return this.$root.events.filter(event => {
            return event.day === this.day &&
              event.month === this.month &&
              event.year === this.years

          })

        },





      },



      template: `


   

        <div class="border"> 
          <div class="day" :class="{today: isToday}" >  {{ day }}
            <a id="added" type="button" class="btn btn-info btn-xs" v-for="event in events" @click="editEvent(event)" > 
             {{event.time}} <br>{{event.text}} <br> {{event.details}}
             {{added}}{{update}}
         </a>
        
        </div>


       
          </div>

    
`,
      data() {
        return {
          update: '',
          added: '',
        }
      }
    })
    var app = new Vue({
      el: '#app',
      data: {
        modal: false,
        event: {},
        update: '',
        added: '',
        months: ['January', 'February', 'March', 'April', 'May', 'June',
          'July', 'August', 'September ', 'October', 'November', 'December '
        ],
        years: [2020, 2021, 2022, 2023, 2024, 2025],


        selected: {
          month: new Date().getMonth(),

          year: new Date().getFullYear()
        },





        events: [{
            text: 'Job interview',
            day: 9,
            month: 6,
            time: '12:30pm',
            details: 'Zoom',

          },
          {
            text: 'Meeting',
            day: 10,
            month: 6,
            time: '12:30pm',
            details: 'Zoom',

          },
          {
            text: 'Assignment Due',
            day: 16,
            month: 6,
            time: '12:15pm',
            details: 'Midterm ',

          }

        ],

      },

      mounted: function () {

        // const ls = localStorage.getItem('storageKey')
        // if (ls) {
        //   const storageKey = JSON.parse('ls')
        //   this.events = storageKey.events
        // }

      },
      computed: {



        isToday: function () {
          const d = new Date()
          d.getDate() // 29
          d.getMonth() // 6 *Remember months start with 0
          d.getFullYear() // 2020
          return this.day === d.getDate() &&
            this.month === d.getMonth() &&
            this.year === d.getFullYear()
        },


        daysInMonth: function () {
          const date = new Date(this.selected.year, this.selected.month + 1, 0).getDate()
          return date
        },

        startDay: function () {
          const day = new Date(this.selected.year, this.selected.month, 1).getDay()
          return day
        },


        eventsToday: function () {
          return this.events.filter(event => {
            return event.this.date.getDate() === this.day &&
              event.this.date.getMonth() === this.month &&
              event.this.date.getFullYear() === this.year
          })

        },





      },
      methods: {
        add: function () {


          this.events.push({
              text: this.added,
              day: new Date(this.selected.year, this.selected.month, ).getDay(),
              month: new Date(this.selected.year, this.selected.month, ).getMonth(),
              time: this.update,
              details: this.added,


            }),

            localStorage.setItem('storageKey', JSON.stringify(this.events))


        },


        deleteItem: function (index) {
          this.events.splice(this.events.indexOf(index), 1)
          localStorage.setItem('storageKey', JSON.stringify(this.events))

        },

        updateItem: function (index) {

          localStorage.setItem('storageKey', JSON.stringify(this.events))

        },

        editEvent: function (event) {
          this.$root.event = {
            ...event
          }
          this.$root.modal = true
        }
      }


    })
  </script>



</body>

</html>